{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec,
    warn_untyped_record,
    {parse_transform, lager_transform}
]}.
{deps, [
    {fitter, {git, "https://github.com/shizzard/fitter.git", {tag, "0.3.1"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.2"}}}
]}.
{dialyzer, [
    {warnings, [
        unmatched_returns, error_handling,
        race_conditions
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [fitter]}
]}.
